			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- sidebar start -->
						<aside class="col-md-3">
							<div class="sidebar">
								<div class="block clearfix">
									<h3 class="title">Submit Your Question</h3>
									<div class="separator"></div>
									<div class="alert alert-success hidden" id="contactSuccess3">
										<strong>Success!</strong> Your message has been sent to us.
									</div>
									<div class="alert alert-error hidden" id="contactError3">
										<strong>Error!</strong> There was an error sending your message.
									</div>
									<form role="form" id="sidebar-form">
										<div class="form-group has-feedback">
											<label for="name3">Name</label>
											<input type="text" class="form-control" id="name3" placeholder="Enter your name" name="name3">
											<i class="fa fa-user form-control-feedback"></i>
										</div>
										<div class="form-group has-feedback">
											<label for="email3">Email address</label>
											<input type="email" class="form-control" id="email3" placeholder="Enter your email" name="email3">
											<i class="fa fa-envelope form-control-feedback"></i>
										</div>
										<div class="form-group">
											<label>Category</label>
											<select class="form-control" id="category">
												<option value="Sales">Sales</option>
												<option value="Support">Support</option>
												<option value="Lorem">Popular Topics</option>
											</select>
										</div>
										<div class="form-group has-feedback">
											<label for="message3">Message</label>
											<textarea class="form-control" rows="4" id="message3" placeholder="" name="message3"></textarea>
											<i class="fa fa-pencil form-control-feedback"></i>
										</div>
										<input type="submit" value="Submit" class="btn btn-default">
									</form>
								</div>
							</div>
						</aside>
						<!-- sidebar end -->

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-9">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">Frequently Asked Questions</h1>
							<p>This section is a self guide with step-by-step details</p>
							<!-- page-title end -->

							<!-- tabs start -->
							<div class="tabs-style-2">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li class="active"><a href="#tab1" role="tab" data-toggle="tab"><i class="fa  fa-life-saver pr-10"></i>Support</a></li>
									<li><a href="#tab2" role="tab" data-toggle="tab"><i class="fa fa-user pr-10"></i>Sales</a></li>
									<li><a href="#tab3" role="tab" data-toggle="tab"><i class="fa fa-star pr-10"></i>Popular Topics</a></li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane fade in active" id="tab1">
										<!-- accordion start -->
										<div class="panel-group" id="accordion-faq">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseOne" class="collapsed">
															<i class="fa fa-question-circle pr-10"></i>Listing to  multiple sites
														</a>
													</h4>
												</div>
												<div id="collapseOne" class="panel-collapse collapse">
													<div class="panel-body">
														List to multiple sites like facebook, eBay, amazon, flipkart and shopify with one single click from our inventory page through "Create Product" button.
														<div class="text-center">
														<!-- <a href="http://www.youtube.com/watch/_tNcvy25ge0" data-toggle="true" class="btn btn-default btn-lg">Watch</a> -->
														</div>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseTwo" class="collapsed">
															<i class="fa fa-question-circle pr-10"></i>Listing with variants
														</a>
													</h4>
												</div>
												<div id="collapseTwo" class="panel-collapse collapse">
													<div class="panel-body">
														An item can be listed with different variants like size,color etc. through "Create Product" button from inventory page.
														<div class="text-center">
														<!-- <a href="http://www.youtube.com/watch/m0aloQ8FLv0" data-toggle="true" class="btn btn-default btn-lg">Watch</a> -->
														</div>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseThree" class="collapsed">
															<i class="fa fa-question-circle pr-10"></i>Adding a Channel - Payment method - PayPal
														</a>
													</h4>
												</div>
												<div id="collapseThree" class="panel-collapse collapse">
													<div class="panel-body">
														Add the payment method "PayPal" the most safest and easiest way to pay online as one of your payment methods. 
														<div class="text-center">
														<!-- <a href="http://www.youtube.com/watch/rKyUjN08oNM" data-toggle="true" class="btn btn-default btn-lg">Watch</a> -->
														</div>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFour" class="collapsed">
															<i class="fa fa-question-circle pr-10"></i>Adding a Channel - Payment method - Bank Transfer													</a>
													</h4>
												</div>
												<div id="collapseFour" class="panel-collapse collapse">
													<div class="panel-body">
														You can also use another payment method called "Bank Transfer" for your sales.
														<div class="text-center">
														<!-- <a href="http://www.youtube.com/watch/rKyUjN08oNM" data-toggle="true" class="btn btn-default btn-lg">Watch</a> -->
														</div>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFive" class="collapsed">
															<i class="fa fa-question-circle pr-10"></i>Adding a Channel - eMarketPlaces - eBay/amazon/flipkart
														</a>
													</h4>
												</div>
												<div id="collapseFive" class="panel-collapse collapse">
													<div class="panel-body">
														Use the eMarketPlaces eBay, amazon and flipkart as your posting sites and post your items with one single click.
														<div class="text-center">
														<!-- <a href="http://www.youtube.com/watch/rKyUjN08oNM" data-toggle="true" class="btn btn-default btn-lg">Watch</a> -->
														</div>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseSix" class="collapsed">
															<i class="fa fa-question-circle pr-10"></i>Browse Inventory
														</a>
													</h4>
												</div>
												<div id="collapseSix" class="panel-collapse collapse">
													<div class="panel-body">
														Use our search button to browse your inventory with various options like, "title of the item" or the "item id/SKU" or with the "price of the item".
														<div class="text-center">
														<!-- <a href="http://www.youtube.com/watch/rKyUjN08oNM" data-toggle="true" class="btn btn-default btn-lg">Watch</a> -->
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- accordion end -->
									</div>
									<div class="tab-pane fade" id="tab2">
										<!-- accordion start -->
										<div class="panel-group" id="accordion-faq-2">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseOne-2"  class="collapsed">
															<i class="fa fa-question-circle pr-10"></i> Sign up as a new Seller
														</a>
													</h4>
												</div>
												<div id="collapseOne-2" class="panel-collapse collapse">
													<div class="panel-body">
													<ul style="list-style-type:disc">
														<li>Click on Pricing</li>
														<li>Click on Sign up button under LITE column</li>
														<li>Login with your facebook credentials in the pop up window</li>
														<li>Once login with the facebook account and providing required permissions, its all done</li>
														<li>You are signed up now</li>
													</ul>
														Sign up with your facebook account and get started using sellinall as a Lite User. Start selling your items in multiple sites with one single click. With Sellinall account, you can have exclusive shop site with bank transfer or PayPal as your payment methods when shoppers pay you online.With Lite User, you have access to 100 posts, 10 items per post and 4 images per post along with the automatic inventory sync including 100 SKU's.
														<div class="text-center">
														<!-- <a href="https://www.youtube.com/watch?v=Twd4I6F_388" data-toggle="true" class="btn btn-default btn-lg">Watch</a> -->
														</div>
													</div>
												</div>
											</div>
											<!-- <div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseTwo-2" class="collapsed">
															<i class="fa fa-question-circle pr-10"></i>Upgrade to a Social Seller
														</a>
													</h4>
												</div>
												<div id="collapseTwo-2" class="panel-collapse collapse">
													<div class="panel-body">
														You can always upgrade to a Social seller by just paying 10 SGD per month, with this you can increase your posts by 50 per month with 2 photos per post. Being a Social seller you cannot post your items in auctions sites like eBay. Apart from this limitation, you can enjoy all other facilities just like any other Sellinall user.
														<div class="text-center">
														<a href="http://www.youtube.com/watch/rKyUjN08oNM" data-toggle="true" class="btn btn-default btn-lg">Watch</a> 
														</div>
													</div>
												</div> -->
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseThree-2" class="collapsed">
															<i class="fa fa-question-circle pr-10"></i> Upgrade to a Standard Seller
														</a>
													</h4>
												</div>
												<div id="collapseThree-2" class="panel-collapse collapse">
													<div class="panel-body">
														Upgrade to Standard seller by just paying 100 SGD per month. By upgrading to a Standard seller, you can upload 20 images per post where the shopper will have more visual images to buy your product online.
														<div class="text-center">
														<!-- <a href="http://www.youtube.com/watch/rKyUjN08oNM" data-toggle="true" class="btn btn-default btn-lg">Watch</a> -->
														</div>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseFour-2" class="collapsed">
															<i class="fa fa-question-circle pr-10"></i> Upgrade to a Customized Seller
														</a>
													</h4>
												</div>
												<div id="collapseFour-2" class="panel-collapse collapse">
													<div class="panel-body">
														Customized user comes with lot more facilities where you have no limit for your postings and you can upload any number of photos per post. There is no limit even for your SKU's as well. Reach out to us for the amount to be paid to become a Customized user of Sellinall. Become a Customized seller and increase your sales, grow your business without turning back.
														<div class="text-center">
														<!-- <a href="http://www.youtube.com/watch/rKyUjN08oNM" data-toggle="true" class="btn btn-default btn-lg">Watch</a> -->
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- accordion end -->
									</div>
									<div class="tab-pane fade" id="tab3">
										<!-- accordion start -->
										<div class="panel-group" id="accordion-faq-3">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseOne-3" class="collapsed">
															<i class="fa fa-question-circle pr-10"></i>Dashboard - Monitor my monthly Sales
														</a>
													</h4>
												</div>
												<div id="collapseOne-3" class="panel-collapse collapse">
													<div class="panel-body">
														Monitor your monthly sales from our exciting dashboard page to track your business.
														<div class="text-center">
														<!-- <a href="http://www.youtube.com/watch/rKyUjN08oNM" data-toggle="true" class="btn btn-default btn-lg">Watch</a> -->
														</div>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseTwo-3" class="collapsed">
															<i class="fa fa-question-circle pr-10"></i>Orders - Mark a Payment as completed
														</a>
													</h4>
												</div>
												<div id="collapseTwo-3" class="panel-collapse collapse">
													<div class="panel-body">
														Mark the payment as completed in the orders page once the amount is received from the buyer.
														<div class="text-center">
														<!-- <a href="http://www.youtube.com/watch/rKyUjN08oNM" data-toggle="true" class="btn btn-default btn-lg">Watch</a> -->
														</div>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseThree-3" class="collapsed">
															<i class="fa fa-question-circle pr-10"></i>Supported Currencies
														</a>
													</h4>
												</div>
												<div id="collapseThree-3" class="panel-collapse collapse">
													<div class="panel-body">
														Following major currencies USD, CAD, GBP, SGD, AUD, EUR, HKD, CHF, INR, MYR, PHP and PLN are supported by us.
														<div class="text-center">
														<!-- <a href="http://www.youtube.com/watch/rKyUjN08oNM" data-toggle="true" class="btn btn-default btn-lg">Watch</a> -->
														</div>
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseFour-3" class="collapsed">
															<i class="fa fa-question-circle pr-10"></i>Supported Shopping Carts and MarketPlaces
														</a>
													</h4>
												</div>
												<div id="collapseFour-3" class="panel-collapse collapse">
													<div class="panel-body">
														Currently, popular shopping carts like shopify and top e-market places eBay,amazon and flipkart are supported.
														<div class="text-center">
														<!-- <a href="http://www.youtube.com/watch/rKyUjN08oNM" data-toggle="true" class="btn btn-default btn-lg">Watch</a> -->
														</div>
													</div>
												</div>
											</div>
										<!-- accordion end -->
									</div>
								</div>
							</div>
							<!-- tabs end -->
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->
