<!-- Pricing page end container -->
<script >
function showUserAgreement(){
$('#userAgreement-popup').modal('show');
$("#userAgreement-body").load("UserAgreement.html");
}
</script>
<section class="main-container">
	<div class="container">
		<div class="row">
			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">
				<!-- page-title start -->
				<!-- ================ -->
				<!-- page-title end -->
				<!-- pricing tables start -->
				<div class="pricing-tables stripped " data-animation-effect="fadeInUpSmall">
					<div class="row grid-space-0">
						<!-- pricing table start -->
						<div class="col-sm-4 plan">
							<div class="header">
								<h3>LITE</h3>
								<div class="price"><span>0$</span></div>
							</div>
							<ul>
								<li>0% transaction fee</li>
								<li>100 SKUS</li>
								<li>10 items per SKU</li>
								<li>4 images per SKU</li>
								<li>FaceBook</li>
								<li>Amazon, eBay</li>
								<li>Shopify</li>
								<li>Exclusive shop site with <br/>PayPal and Bank Transfer</li>
								<li>Automatic Inventory Sync</li>
								<li>-</li>
								<li>-</li>
								<li>
									<div>
										<button  onclick="login();" class="btn btn-default">Sign Up</button>
									</div>
								</li>
							</ul>
						</div>
						<!-- pricing table end -->
						<!-- pricing table start -->
						<div class="col-sm-4 plan best-value">
							<div class="header">
								<h3>Standard</h3>
								<div class="price"><span>S$100</span>/month</div>
							</div>
							<ul class="pricing-list">
								<li>1% Transaction Fee</li>
								<li>Unlimited</li>
								<li>Unlimited</li>
								<li>20 images per SKU</li>
								<li>FaceBook</li>
								<li>Amazon, eBay, Flipkart, Etsy</li>
								<li>Shopify</li>
								<li>Exclusive shop site with <br/>PayPal and Bank Transfer</li>
								<li>Automatic Inventory Sync</li>
								<li>Bulk upload</li>
								<li>Customer support</li>
								<li>
									<div >
									<button  onclick="login();" class="btn btn-default">Sign Up</button></div>
								</li>
							</ul>
						</div>
						<!-- pricing table end -->
						<!-- pricing table start --> 
						<div class="col-sm-4 plan">
							<div class="header">
								<h3>Customized</h3>
								<div class="price"><span>$$</span>/month </div>
							</div>
							<ul class="pricing-list">
								<li>Negotiable</li>
								<li>N SKUs only</li>
								<li>N items per SKU</li>
								<li>N images per SKU</li>
								<li>FaceBook</li>
								<li>Amazon, eBay, Flipkart, Etsy</li>
								<li>Shopify</li>
								<li>Exclusive shop site with<br/>PayPal and Bank Transfer</li>
								<li>Automatic Inventory Sync</li>
								<li>Bulk upload</li>
								<li>Customer support</li>
								<li>
									<div>
										<a class="btn btn-default" href="#ContactUs" data-toggle="tab"><i class="fa fa-phone pr-10"></i>Contact Us</a>
									</div>
								</li>
							</ul>
						</div>
						<!-- pricing table end -->
					</div>
				</div>
				<!-- pricing tables end -->
			</div>
			<!-- main end -->
		</div>
	</div>
</section>
<!-- Modal -->