
<script>
$("form[name='imageupload']").submit(function(e) {                   
        document.getElementById("fileChooserLink").innerHTML="<img src='images/post.gif'/>Uploading.."; 
        $("#fileChooserLink").attr("disabled", true);
        var formData = new FormData($(this)[0]);        
        $.ajax({
            url: "upload.php",
            type: "POST",
            data: formData,
            async: true,
            dataType: "json",
            success: function (msg) {   
              uploadedImages+=msg.length;              
              if(uploadedImages <= noOfImagesUploaded)
               {
                if(imageURL[0] == null)
                  imageURL=msg;  
                else
                  {
                   for(var i=0;i<msg.length;i++)
                      imageURL.push(msg[i]);
                  }
                $("#uploaded-images-body").empty();                
                for(var i=0;i<imageURL.length;i++)    
                 {                      
                  $("#uploaded-images-body").append("&nbsp;&nbsp;<img src='uploads/"+merchantId+"/"+imageURL[i].imgName+"' class='pot-uploaded-img' height='70' width='80'>&nbsp;&nbsp;");                  
                 }
                document.getElementById('id123-images').innerHTML="Change Uploaded Images";
                document.getElementById('imagePopupDeleteAll').style.display='';
                $('#imagePopupClose').text('Done');
                $("#noOfMaxImages").html("Images Left : "+(noOfImagesUploaded-uploadedImages));
               }
              else
               {
                document.getElementById("fileChooserLink").innerHTML="Add Images";
                $("#fileChooserLink").attr("disabled", false);
                //alert("Number of images exceeding the limit");
                $("#imageUploadError").html("<div class='alert alert-danger alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button><strong>Number of images exceeding the limit</strong></div>");
                uploadedImages-=msg.length;
               }
              if(uploadedImages == noOfImagesUploaded)
               {
                $("#image-upload-body").html("");
                //document.getElementById("fileChooserLink").innerHTML="Add Images";
                //$("#fileChooserLink").attr("disabled", false);
               }
              else 
               {                            
               document.getElementById("fileChooserLink").innerHTML="Add Images";
               $("#fileChooserLink").attr("disabled", false);
               $("#fileChooser").val("");
               }
            },
            error: function(msg){printLog("Uploading Error:"+JSON.stringify(msg));},
            cache: false,
            contentType: false,
            processData: false
        });

        e.preventDefault();
    });

$("#fileChooser").on("change", function (e) {
/* this function will check the size of the image,if it is satisfying then only this will allow the images to be uploaded*/
  var files = e.currentTarget.files; // puts all files into an array  
  var count=0;
  $("#imageUploadError").html("");
    // call them as such files[0].size will get you the file size of the 0th file
    for (var x in files) {

        var filesize = ((files[x].size/1024)/1024).toFixed(4); // MB

        if (filesize > 2) { 
         count=1;
         break;
        }
    }
   if(count == 0)
    {         
     $('#uploadSubmitButton').trigger( 'click' );//submit the form
    }
   else
    {
     //alert("Image size should be less than 2MB");
     $("#imageUploadError").html("<div class='alert alert-danger alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button><strong>Image size should be less than 2MB</strong></div>");
    }
 });

</script>
<form id="imageupload" name="imageupload" enctype="multipart/form-data">        
    <center><input name="file[]" type="file" multiple="multiple" id="fileChooser" style="color:black;display:none;" accept="image/*" height="20" width="20"/>
    <label class="btn btn-success" for="fileChooser" id="fileChooserLink">Add Images</label></center>
    <input type="hidden" id="fbUserName"name="uname" value="shinMudra"> 
    <input type="hidden" id="merchantID"name="merchantID" value="">    
    <button type="submit" class="btn btn-success" id="uploadSubmitButton" style="display:none;">ImageUpload</button>
     <br/><br/>     
</form>
