/*

 * Globals

 */



/* Links */

a,

a:focus,

a:hover {

  color: #fff;

}



/* Custom default button */

.btn-default,

.btn-default:hover,

.btn-default:focus {

  color: #333;

  text-shadow: none; /* Prevent inheritence from `body` */

  background-color: #fff;

  border: 1px solid #fff;

}





/*

 * Base structure

 */



html,

body {

  height: 100%;

  background-color: lightgray;

}

body {

  color: #fff;

  text-align: center;

  text-shadow: 0 1px 3px rgba(0,0,0,.5);

}



/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {

  display: table;

  width: 100%;

  height: 100%; /* For at least Firefox */

  min-height: 100%;

  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);

          box-shadow: inset 0 0 100px rgba(0,0,0,.5);

}

.site-wrapper-inner {

  display: table-cell;

  vertical-align: top;

}

.cover-container {

  margin-right: auto;

  margin-left: auto;
  
  width:80%;
  height:80%;

}



/* Padding for spacing */

.inner {

  padding: 10px;

}





/*

 * Header

 */

.masthead-brand {

  margin-top: 10px;

  margin-bottom: 10px;
 
  float: center;
}



.masthead-nav > li {

  display: inline-block;

}

.masthead-nav > li + li {

  margin-left: 20px;

}

.masthead-nav > li > a {

  padding-right: 0;

  padding-left: 0;

  font-size: 16px;

  font-weight: bold;

  color: #fff; /* IE8 proofing */

  color: rgba(255,255,255,.75);

  border-bottom: 2px solid transparent;

}

.masthead-nav > li > a:hover,

.masthead-nav > li > a:focus {

  background-color: transparent;

  border-bottom-color: #a9a9a9;

  border-bottom-color: rgba(255,255,255,.25);

}

.masthead-nav > .active > a,

.masthead-nav > .active > a:hover,

.masthead-nav > .active > a:focus {

  color: #fff;

  border-bottom-color: #fff;

}



@media (min-width: 768px) {

.about-item {
  font-size: 21px;
 }

  .masthead-brand {

    float: center;

  }

  .masthead-nav {

    float: right;

  }

}





/*

 * Cover

 */



.cover {

  padding: 0 20px;

}

.cover .btn-lg {

  padding: 10px 20px;

  font-weight: bold;

}





/*

 * Footer

 */



.mastfoot {

  color: #999; /* IE8 proofing */

  color: rgba(255,255,255,.5);

}





/*

 * Affix and center

 */



@media (min-width: 768px) {

  /* Pull out the header and footer */

 .shipping-option {
   margin-left:10%;
 }

  .masthead {    

    top: 0;

  }

  .mastfoot {    

    bottom: 0;
    float: center;

  }

  /* Start the vertical centering */

  .site-wrapper-inner {

    vertical-align: middle;

  }

  /* Handle the widths */

  .masthead,

  .mastfoot,

  .cover-container {

    width: 100%; /* Must be percentage or pixels for horizontal alignment */

  }

}



@media (min-width: 992px) {

  .masthead,

  .mastfoot,

  .cover-container {

    //width: 700px;

  }

}


.img-style
 {
  max-width:95%;
  max-height:50%;
 }


.about-item {
  //margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
  color:#643030;
  margin: 0 0 4px;
 }

.item-price {
  font-size: 25px;
  font-weight: 200;
  color:#2058AC;
  line-height: 1.4;
  margin: 0 0 10px;
  margin-top: 10px;
 }

.item-totalPrice {
  font-size: 40px;
  font-weight: 200;
  font-style:italic;
  color:#2058AC;
  line-height: 1.4;
  margin: 0 0 20px;
  margin-top: 10px;
 }

.productId {
  font-size: 12px;
  font-weight: 200;
  font-style:italic;
  line-height: 1.4;
  color:#643030;
  margin: 0 0 10px;
 }


.shipping-option {
  font-size: 12px;
  font-weight: 200;
  line-height: 1.4;
  color:#643030;
  margin-left:6%;
 }

.description-title {  
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;
  margin: 0 0 10px;
  color:#643030;
  margin-bottom: 20px;
 }

.item-description {
  font-size: 12px;
  font-weight: 200;
  line-height: 1.4;
  color:#643030;
  margin: 0 0 6px;
  margin-left:6%;
 }